<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/App.css" />
    <link rel="stylesheet" href="/css/Contact.css" />
    <link rel="stylesheet" href="/css/MiniCalendar.css" />
    <title>Admin Page</title>
  </head>
  <body>
    <h1 className="flex">Welcome to the Admin Page</h1>
  </body>
</html>
